@using Microsoft.AspNetCore.Http;
@model IEnumerable<Student>

@*<a href="/Student/AddStudent" class="btn btn-primary"><span class="glyphicon glyphicon-modal-window"></span>Add New Student</a>*@

<h1 class="alert alert-warning"> All Students:</h1>
<p style="color:crimson">Total Students: @Model.Count()</p><br />


<form action="/Student/AllStudents" method="post">
    <input type="text" id="SearchByName" name="SearchByName" placeholder="SearchByName" />
    <input type="submit" value="Search" />
    <input type="text" id="SearchByDept" name="SearchByDept" placeholder="SearchByDepartment" />
    <input type="submit" value="Search" />
    <input type="text" id="SearchByAddress" name="SearchByAddress" placeholder="SearchByAddress" />
    <input type="submit" value="Search" />
</form>
<table id="myTable" class="table table-bordered table-striped table-responsive">

    <thead>
        <tr>
            <td>ID:</td>
            <td>Name:</td>
            <td>Department:</td>
            <td>Email:</td>
            <td>Address:</td>
            <td>Contact:</td>
            <td>CV Download</td>
            <td>Date Of Birth</td>
            <td>Actions:</td>

        </tr>

    </thead>

    <tbody>
        @foreach (Student s in Model)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.Name</td>
                <td>@s.Dept</td>
                <td>@s.Email</td>
                <td>@s.Address</td>
                <td>@s.Contact</td>
                <td> <a href="/Student/DownloadCV?Id=@s.Cv" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-arrow-down"></span> Download CV</a></td>
                <td>@s.DOB</td>
                <td>
                    @if (Context.Session.GetString("LIUID") == s.CreatedBy)
                    {

                            <a href="/Student/DetailStudent?Id=@s.Id" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok"></span> Detail</a>
                            @*<a href="/Student/DeleteStudent?Id=@s.Id" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> Delete</a>*@
                            <a href="#" data-studentid="@s.Id" class="btn btn-danger DeleteStudent "><span class="glyphicon glyphicon-remove"></span> Delete</a>
                            <a href="/Student/EditStudent?Id=@s.Id" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                    }
                </td>
            </tr>
        }
      
    </tbody>

</table>

@section Scripts{
    <script>
        $(function () {
            //$('#myTable').DataTable();
            $('.DeleteStudent').click(function () {
                var clickedbutton = $(this);
                var studentid = $(this).data("studentid");
                $(this).text("Please wait");
                $.ajax({
                    url: "/student/deletestudentajax",
                    type: "POST",
                    data: {
                        Id: studentid,
                        Email: "ajmalg08@gmail.com"
                    },
                    complete: function (myresult) {

                        if (myresult.responseText == "Yes") {
                            clickedbutton.parent().parent().addClass("danger");
                            clickedbutton.parent().parent().fadeOut(3000);
                        } else {
                            alert("Please try again");
                        }
                    }
                });
            });
        });

    </script>
}

