@model IEnumerable<Student>

<a href="/Student/AddStudent" class="btn btn-primary"><span class="glyphicon glyphicon-modal-window"></span>Add New Student</a>

<h1 class="alert alert-warning"> All Students</h1>
<p style="color:crimson">Total Students: @Model.Count()</p>

<table class="table table-bordered table-striped table-responsive">

    <thead>
        <tr>
            <td>ID:</td>
            <td>Name:</td>
            <td>Department:</td>
            <td>Email:</td>
            <td>Adress:</td>
        </tr>
        
    </thead>
   
    <tbody>
        @foreach (Student s in Model)
        {
            <tr>
                <td>@s.Id</td>          
                <td>@s.Name</td>          
                <td>@s.Dept</td>           
                <td>@s.Email</td>           
                <td>@s.Address</td>
            </tr>
        }
        </tbody>
    
</table>