@model Student
@using ThetaProject.Controllers;


        <h1 class="alert alert-info">Detail of @Model.Name </h1>
   

<div class="col-md-6">
    <div class="alert alert-success ">
        <div>
            <h1> <span class="glyphicon glyphicon-lock"></span><b>ID:</b>   @Model.Id</h1>
            <p><span class="glyphicon glyphicon-user"></span><b>Name:</b>   @Model.Name</p>
            <p><span class="glyphicon glyphicon-user"></span><b>Department:</b>   @Model.Dept</p>
            <p><span class="glyphicon glyphicon-bookmark"></span><b>Email:</b>   @Model.Email</p>
            <p><span class="glyphicon glyphicon-book"></span><b>Address:</b>   @Model.Address</p>
            <p><span class="glyphicon glyphicon-phone"></span><b>Contact:</b>   @Model.Contact</p>

        </div>

    </div>
    <div>
        <a href="/Student/AllStudents" class="btn btn-primary"><span class="glyphicon glyphicon--arrow-left"></span>Go Back to Student List</a>
        <a href="/Student/DeleteStudent?Id=@Model.Id" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> Delete</a>
        <a href="/Student/EditStudent?Id=@Model.Id" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
    </div>   

</div>
<div id="StudentsName" class="col-md-6">


</div>
<br /><br />

<div id="AdDiv">

</div>

@section Scripts{
    <script>
        $(function () {
            $('#AdDiv').load("/Student/ShowAdd");
            $('#StudentsName').load('@nameof(StudentController.AllStudentsList)');


        });

    </script>
}